<script src="Controller/editproductController.js"></script>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header text-success">List Products</h1>
    </div>
</div>
<form action="" class="myForm" id="myForm" method="post">
    <input type="hidden" name="pid" id="pid">

<div class="row">
    <div class="col-md-6">
      <label for="name" class="text-primary">Product name</label>
                        <input type="text" name="pname" id="pname" class="form-control" placeholder="product name" minlength="2"
         required>
    </div>
    <div class="col-md-6">
      <label for="name" class="text-primary">Product Code</label>
                        <input type="text" name="pcode" id="pcode" class="form-control" placeholder="product code" minlength="2"
         required>
    </div>
    <div class="col-md-6">
        <label for="name" class="text-primary">Brand Name</label>
        <input type="text" name="bname" id="bname" class="form-control" placeholder="Brand Name" minlength="2"
            required>
    </div>
    <div class="col-md-6">
        <label for="name" class="text-primary">Price</label>
        <input type="text" name="price" id="price" class="form-control" placeholder="Rate of the product" minlength="2"
            required>
    </div>
</div>
<div class="row form-group">
  

</div>
<div class="row form-group">
    <div class="col-md-12 text-right">
       
        <button type="submit" id="submit" class="btn btn-success">Insert</button>
    </div>
</div>

</form>

       
         
